{% extends 'base.html' %}

{% block title %}New User Form{% endblock %}

{% block content %}
<h1>New User From</h1>
<form method="post" action="/users/new">

    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="first-name"><br><br>
    
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="last-name"><br><br>
    
    <label for="image-link">Image Link:</label>
    <input type="text" id="image-link" name="image-link"><br><br>
    
    <input type="submit" value="Submit">
    
    
</form>
{% endblock %}