{% extends 'base.html' %}

{% block title %}User profile{% endblock %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<img src="{{ user.profile_pic }}" class = "profile-pic" alt="Profile Picture">

<a href="/">Go back</a>

<a href="{{ url_for('show_edit_page', user_id=user.id) }}">Edit</a>

<form method="post" action="{{ url_for('delete_user', user_id=user.id) }}">
    <button type="submit">Delete</button>
</form>

<h2>Posts</h2>
<ul>
    {% for post in user.posts %}
        <li>
            <a href="{{ url_for('post_details', user_id=user.id, post_id=post.id) }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</ul>

<a href="{{ url_for('show_new_post_form', user_id=user.id) }}">Add Post</a>

{% endblock %}